<app-nav-bar></app-nav-bar>
<div class="container">
	<div class="row row-cols-1 p-5">
		<div class="col mb-4">
			<div class="card">
				<div class="card-header p-2">
					<img
						src="../../../assets/logoGitHub2.png"
						class="img-link bg-dark"
						alt="..."
					/>
					<span class="card-subtitle mb-2 text-muted p-4">Avatar name</span>
				</div>
				<img
					src="../../../assets/logoGitHub2.png"
					class="card-img-top bg-dark"
					alt="..."
				/>
				<div class="card-body">
					<p class="card-text">
						Some quick example text to build on the card title and make up the
						bulk of the card's content.
					</p>
					<p class="card-text">
						Some quick example text to build on the card title and make up the
						bulk of the card's content.
					</p>
					<p class="card-text">
						Some quick example text to build on the card title and make up the
						bulk of the card's content.
					</p>
					<a [routerLink]="['/user']" class="card-link">
						<img
							src="../../../assets/logoGitHub2.png"
							class="img-link bg-dark"
							alt="..."
						/>
					</a>
					<a [routerLink]="['/user']" class="card-link">
						<img
							src="../../../assets/logoGitHub2.png"
							class="img-link bg-dark"
							alt="..."
						/>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
