<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand" href="#">
		<img
			src="../../../assets/logoGitHub2.png"
			width="30"
			height="30"
			class="d-inline-block align-top"
			alt=""
		/>
		GitHub Search...
	</a>
	<form class="form-inline" onsubmit="loadMembers()">
		<input
			class="form-control mr-sm-2"
			type="search"
			placeholder="Search"
			aria-label="Search"
		/>
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
			Search
		</button>
	</form>
</nav>
<p>members-page works!</p>
