<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand" routerLink="/home">
		<img
			src="../../../assets/logoGitHub2.png"
			width="30"
			height="30"
			class="d-inline-block align-top mr-3"
			alt="gitHub"
		/>
		GitHub Search...
	</a>
	<div class="form-inline">
		<input
			class="form-control mr-sm-2"
			type="search"
			placeholder="Search"
			aria-label="Search"
			#inputNavBar
		/>

		<button
			class="btn btn-outline-success my-2 my-sm-0"
			(click)="sendCompanyToLoadMembers(inputNavBar.value)"
		>
			Search
		</button>
	</div>
</nav>
