.back {
	background-color: #24292e;
	width: 100%;
	height: 100vh;
	color: seashell;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background-image: url(../../assets/logoGitHub2.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	overflow: hidden;
	min-width: 420px;
	max-width: 600px;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}

.title {
	width: 100%;
	font-size: 24px;
	text-align: center;
	position: absolute;
	top: 42%;
	display: flex;
	justify-content: center;
}

.search-form {
	margin-top: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item-form {
	width: 80%;
	margin-bottom: 5%;
}

input {
	background-image: url(../../assets/search-icon.png);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 95% center;
}
