<div class="col mb-4">
	<div class="container p-3 shadow-container">
		<div class="card text-center shadow-container">
			<img
				src="{{ memberCard.avatar_url }}"
				class="card-img-top bg-dark img-corner"
				alt="{{ memberCard.login }}"
			/>
			<div class="card-body">
				<h5 class="card-title">{{ memberCard.login }}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{ memberCard.company }}</h6>
				<a routerLink="/user:{{ memberCard.id }}" class="card-link"
					>Ver perfil</a
				>
			</div>
		</div>
	</div>
</div>
